{% extends 'admin/layout.twig' %}

{% block main %}
    <style>

        .form-jogos th, .form-jogos td {
            vertical-align: middle !important;
        }

    </style>

    <form class="text-right m-b-30 form-cotacoes geral">
        <div class="form-inline">
            <div class="input-group">
                <div class="input-group-addon">Tipo</div>
                <select class="form-control" name="tipo">
                    <option value="%">%</option>
                    <option value="$">$</option>
                </select>
                <div class="input-group-addon">Valor</div>
                <input type="number" name="percent" step="1" value="0" min="-500" max="500" class="form-control"/>
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success btn-aplicar">
                        <i class="fa fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <form class="form-jogos" onsubmit="return false;">

        <div class="panel panel-default panel-jogos">
            <div class="panel-heading"></div>
            <div class="panel-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered m-b-0 table-hover table-minify">
                        <thead>
                        <tr>
                            <th width="80"><input type="checkbox" name="input_jogos" checked/></th>
                            <th width="100">Data/Hora</th>
                            <th>Time casa x Time fora</th>
                            {% for i in range(0, 2) %}
                                <th width="100">{{ cotacoes[i].getSigla() }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <td><input type="checkbox" name="jogo" class="input-jogo m-0" checked/></td>
                        <td>
                            <div class="data"></div>
                            <div class="hora"></div>
                        </td>
                        <td>
                            <div class="title"></div>
                            <a href='#cotacoes' class="ver-cotacoes">Ver todas as cotações</a>
                        </td>
                        {% for i in range(0,2) %}
                            <td>
                                {% for tempo in tempos %}
                                    <div>
                                        <b>{{ tempo.key }}:</b>
                                        <span data-cotacao='{{ tempo.key }}-{{ cotacoes[i].getCampo() }}'></span>
                                    </div>
                                {% endfor %}
                            </td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="container-tabelas"></div>
        <div class="text-right p-b-20">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-upload"></i> Importar Jogos
            </button>
        </div>
    </form>

    <!-- Modal Mais cotações !-->
    <div class="modal fade modal-cotacoes" id="modal-cotacoes" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mais Cotações</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form class="text-center m-b-20 form-cotacoes jogo">
                        <input type="hidden" name="refid"/>
                        <div class="form-inline">
                            <div class="input-group">
                                <div class="input-group-addon">Tipo</div>
                                <select class="form-control" name="tipo">
                                    <option value="%">%</option>
                                    <option value="$">$</option>
                                </select>
                                <div class="input-group-addon">Valor</div>
                                <input type="number" name="percent" step="1" value="0" min="-500" max="500"
                                       class="form-control"/>
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-success btn-aplicar">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="info-jogo">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                <i class="fa fa-clock-o"></i> <span class="data"></span>
                                <div class="dia-semana"></div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 text-center">
                                <div class="times text-uppercase">
                                    <span class="casa"></span>
                                    <span>X</span>
                                    <span class="fora"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                <div class="campeonato"></div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" role="tablist">
                        {% for tempo in tempos %}
                            <li class="nav-item {{ tempo.key == '90'?'active':null }}">
                                <a class="nav-link" href="#tab-{{ tempo.key }}" role="tab" data-toggle="tab">
                                    <span class="hidden-sm hidden-xs">{{ tempo.key }}</span>
                                    <span class="hidden-md hidden-lg">{{ tempo.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-0 p-t-20">

                        {% for tempo in tempos %}
                            <div role="tabpanel" class="tab-pane fade {{ active }}" id="tab-{{ tempo.key }}">
                                <div class="botoes-cotacoes modal-botoes">
                                    <h4>{{ tempo.title }}</h4>
                                    {% for idGrupo, grupo in grupos %}
                                        {% for cotacao in cotacoes %}
                                            {% if c.getGrupo() == idGrupo %}
                                                <div class="btn btn-cotacao">
                                                    <div>{{ c.getSigla() }}</div>
                                                    <div class="valor"
                                                         data-cotacao="{{ tempo.key }}-{{ c.getCampo() }}">0.00
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>

        $(function () {

            var form = $('.form-jogos');
            var modal = $('.modal-cotacoes');
            var tplTr = $('.panel-jogos tbody tr').addClass('tr-jogo').clone();
            $('.panel-jogos tbody tr').remove();
            var tpl = $('.panel-jogos').clone();
            $('.panel-jogos').remove();

            $('html').addClass('page-loading');

            $.get(url('importar/marjosports/jogos'), function (json) {

                $.each(json.jogos, function (index, jogo) {
                    if (!$.isPlainObject(jogo.cotacoes)) {
                        console.log("Não é um objeto", jogo.cotacoes);
                    } else {
                        $.each(jogo.cotacoes, function (index, cotacoes) {
                            if (!$.isPlainObject(cotacoes)) {
                                console.log("Não é um objeto", jogo.cotacoes);
                            }
                        });
                    }
                });

                console.log("Inicia outra lista");

                if (json.campeonatos) {
                    $.each(json.campeonatos, function (index, campeonato) {

                        var tb = tpl.clone();

                        tb.find('.panel-heading').html(campeonato);

                        $.each(json.jogos, function (index, jogo) {
                            if (jogo && jogo.campeonato == campeonato) {

                                var tr = tplTr.clone();
                                var title = jogo.timecasa + ' <img src="' + jogo.timecasaimg + '"/> x <img src="' + jogo.timeforaimg + '"/> ' + jogo.timefora;

                                tr.attr("data-title", title);
                                tr.attr("data-ref", jogo.refid);
                                tr.data("dados", jogo);

                                tr.find(".input-jogo").val(jogo.refid);
                                tr.find(".title").html(title);
                                tr.find(".data").html(jogo.data.split('-').reverse().join('/'));
                                tr.find(".hora").html(jogo.hora);

                                $.each(jogo.cotacoes, function (tempo, values) {
                                    if ($.isPlainObject(values)) {
                                        $.each(values, function (campo, valor) {
                                            tr.find('[data-cotacao="' + tempo + '-' + campo + '"]').html(valor);
                                        });
                                    }
                                });

                                tb.find("tbody").append(tr);
                            }
                        });

                        $('.container-tabelas').append(tb);

                        tb.find("input[type=checkbox]").uniform();

                    });
                }
                $('html').removeClass('page-loading');

            }, 'json');

            $(document)
                .on("change", "input[name=input_jogos]", function () {
                    var tb = $(this).closest('table');
                    var inputs = tb.find('input[type=checkbox]');
                    inputs.prop('checked', $(this).prop('checked'));
                    inputs.uniform();
                })
                .on("change", "input[name=jogo]", function () {

                    var tb = $(this).closest('table');
                    var inputs = tb.find('input[type=checkbox][name=jogo]');
                    var master = tb.find('input[name=input_jogos]');

                    var notCheckeds = inputs.filter(":not(:checked)");

                    if (notCheckeds && notCheckeds.length > 0) {
                        master.prop('checked', false);
                    } else {
                        master.prop('checked', true);
                    }

                    inputs.uniform();
                    master.uniform();

                });

            $('.form-cotacoes')
                .on('submit', function (e) {

                    e.preventDefault();

                    var form = $(this);
                    var geral = form.hasClass('geral');

                    var refid = $('[name=refid]', form).val();

                    var tipo = $('[name=tipo]', form).val();
                    var valueInput = parseFloat($('[name=percent]', form).val());
                    var valor = tipo == '%' ? 0 : valueInput;
                    var percent = tipo == '$' ? 1 : (valueInput + 100) / 100;

                    $('.tr-jogo')
                        .each(function () {

                            var row = $(this);
                            var jogoValues = row.data("dados");

                            if (geral || jogoValues.refid == refid) {

                                var cotacoes = jogoValues.cotacoes;

                                if (cotacoes) {
                                    $.each(cotacoes, function (tempo, values) {
                                        if ($.isPlainObject(values)) {
                                            $.each(values, function (index, value) {
                                                value = value * percent + valor;
                                                cotacoes[tempo][index] = parseFloat(value.toFixed(2));
                                                row.find('[data-cotacao="' + tempo + '-' + index + '"]').html(cotacoes[tempo][index].toFixed(2));
                                            });
                                        }
                                    });
                                }

                                jogoValues.cotacoes = cotacoes;
                                row.data("dados", jogoValues);

                                if (!geral) {
                                    modalCotacoes(null, jogoValues);
                                }

                            }
                        });

                    return false;

                });

            $(document)
                .on("click", '.ver-cotacoes', function (e) {

                    e.preventDefault();

                    var row = $(this).closest('tr');
                    var jogoValues = row.data("dados");

                    modalCotacoes(row.data("title"), jogoValues);

                    return false;

                });

            function modalCotacoes(title, jogoValues) {

                var cotacoes = jogoValues.cotacoes;

                modal.find(".form-cotacoes [name=refid]").val(jogoValues.refid);

                modal.modal("show");

                if (title) {
                    modal.find(".modal-title").html(title);
                }

                modal.find(".casa").html(jogoValues.timecasa);
                modal.find(".data").html(jogoValues.data.split('-').reverse().join('/') + ' às ' + jogoValues.hora);
                modal.find(".fora").html(jogoValues.timefora);
                modal.find(".campeonato").html(jogoValues.campeonato);
                modal.find("[data-cotacao]").html('0.00').closest(".btn").attr("disabled", true);

                if (cotacoes) {
                    $.each(cotacoes, function (tempo, values) {
                        if ($.isPlainObject(values)) {
                            $.each(values, function (index, value) {
                                var valor = cotacoes[tempo][index].toFixed(2);
                                var span = modal.find('[data-cotacao="' + tempo + '-' + index + '"]');
                                span.html(valor);
                                if (valor != '0.00') {
                                    span.closest(".btn").attr('disabled', false);
                                }
                            });
                        }
                    });
                }

            };

            form
                .on('submit', function () {
                    var jogos = [];

                    $('input[type=checkbox][name=jogo]:checked')
                        .each(function () {
                            jogos.push($(this).closest('.tr-jogo').data('dados'));
                        });

                    if (!jogos || jogos.length == 0) {
                        alert('É necessário que selecione no mínimo 1 jogo para importar.');
                    } else if (confirm('Tem certeza de que deseja importar os ' + jogos.length + ' jogos?')) {

                        $('html').addClass('page-loading');

                        $
                            .post(url(CONTROLLER + '/importar'), {jogos: JSON.stringify(jogos)}, function (e) {
                                alert(e.message);
                            }, 'json')
                            .fail(function () {
                                alert('Não foi possível importar os jogos');
                            })
                            .always(function () {
                                $('html').removeClass('page-loading');
                            });
                    }

                });

        });

    </script>

{% endblock %}