{% extends 'admin/layout.twig' %}

{% block list %}

    {% if busca.getCount() %}
        <div class="panel">
            <div class="panel-body p-0">
                <div class="table-responsive m-0">
                    <table class="m-0 table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th width="80" class="text-center"><i class="fa fa-sort-amount-asc"></i></th>
                            <th>Graduação</th>
                            <th width="5">Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for v in busca.getRegistros() %}
                            <tr>
                                <td class="text-center">{{ v.getOrdem() }}</td>
                                <td>{{ v.getTitle() }}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <div class="btn btn-default" data-editar="{{ v.toArray(true)|json_encode }}">
                                            <i class="fa fa-edit"></i>
                                        </div>
                                        <div class="btn btn-danger" data-excluir="{{ v.getToken() }}">
                                            <i class="fa fa-trash"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer text-right">{{ busca|raw }}</div>
        </div>
    {% elseif message %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i> {{ message }}
        </div>
    {% else %}
        <div class="alert alert-warning">
            <i class="fa fa-warning"></i> Nenhum registro encontrado
        </div>
    {% endif %}

{% endblock %}

{% block links %}

    <button class="btn btn-primary" onclick="$('.admpage-form').setValues()">
        <i class="fa fa-plus"></i> Nova graduação
    </button>

{% endblock %}

{% block main %}

    <form class="admpage-form modal fade" enctype="multipart/form-data" onsubmit="javascript:return false;">
        <input type="hidden" name="id"/>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="close" data-dismiss="modal">&times;</div>
                    <h3 class="modal-title">Graduação</h3>
                </div>
                <div class="modal-body p-b-10">
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <label>Ordem</label>
                            <input type="number" name="ordem" class="form-control"/>
                        </div>
                        <div class="form-group col-xs-9">
                            <label>Título</label>
                            <input type="text" name="title" class="form-control"/>
                        </div>
                        <div class="form-group col-xs-12">
                            <label>Descrição</label>
                            <input type="text" name="descricao" class="form-control"/>
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Comissão 1 jogo</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="jogos1" step="0.01"/>
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Comissão 2 jogos</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="jogos2" step="0.01"/>
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label>Comissão 3 jogos ou mais</label>
                            <div class="input-group">
                                <input type="number" class="form-control" name="jogos3" step="0.01"/>
                                <div class="input-group-addon">%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        {{ inputFile('Imagem', 'upcapa', 'image/*') }}
                    </div>
                    <button class="btn btn-link" type="button" data-dismiss="modal">
                        &times; Limpar
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i> Salvar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="admpage-container"></div>

{% endblock %}

{% block script %}

    <script>

        $('.admpage-form')
            .adminPage({
                container: '.admpage-container',
            });

    </script>

{% endblock %}