{% if responsive %}
    <header class="header-mobile d-blok d-md-none">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <img src="{{ dados().imgCapa(true, 'logo').getSource(true) }}" height="45"/>
                </div>
                <div class="col-auto">
                    <a href="app.apk" class="btn btn-link" target="_blank">
                        <span class="text-success">
                            <i class="fa fa-android"></i> APP
                        </span>
                    </a>
                </div>
                <div class="col-auto">
                    <button class="btn btn-link" onclick="$('html').toggleClass('show-menu');">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <div class="menu-mobile">
        <div class="header">
            <i class="fa fa-bars"></i> Menu
        </div>
        <ul>
            <li>
                <a href="{{ url() }}">
                    Apostar
                </a>
            </li>
            <li>
                <a href="{{ url('bilhete') }}">
                    Consultar bilhete
                </a>
            </li>
            {% if user %}
                <li>
                    <a href="{{ url('apostas') }}">
                        Minhas apostas
                    </a>
                </li>
                <li>
                    <a href="{{ url('logout') }}">
                        Sair
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="#modal-login" data-toggle="modal" onclick="$('html').removeClass('show-menu');">
                        Entrar
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}

<header class="pt-4 pb-4 {{ responsive ? 'd-none d-md-block' : '' }}">
    <div class="app-container container">
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <a href="./">
                    <img src="{{ dados().imgCapa(true, 'logo').getSource(true) }}" class="img-fluid"/>
                </a>
            </div>
            {% if not user %}
                <div class="col-auto d-none d-md-block">
                    <h6 class="text-white">Faça login</h6>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <form id="form-login" onsubmit="return false;">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" name="username" class="form-control form-control-sm" required
                                               placeholder="Login/E-mail"/>
                                    </div>
                                    <div class="col">
                                        <input type="password" name="password" class="form-control form-control-sm"
                                               required
                                               readonly placeholder="Senha"/>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-warning btn-sm">
                                            <i class="fa fa-sign-in"></i> Entrar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#recuperar-senha" data-toggle="modal" class="btn btn-sm btn-link text-white">Esqueceu a
                            senha?</a>
                        <a href="{{ url('cadastrar') }}" class="btn btn-sm btn-link text-white">Cadastre-se</a>
                    </div>
                </div>
            {% else %}
                <div class="col-auto d-none d-md-block text-white text-right" style="line-height: 100%;">
                    <div class="row align-items-center">
                        <div class="col-auto pr-0">
                            <div>{{ user.getNome() }}</div>
                            <small>
                                <span class="text-warning">{{ user.getTypetitle() }}</span>
                                |
                                <a href="{{ url('logout') }}" class="text-white">Sair</a>
                            </small>
                        </div>
                        <div class="col-auto">
                            <img src="{{ user.imgCapa().redimensiona(50,50) }}"
                                 class="rounded-circle img-fluid border"/>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>